<h1><center>Sporting Events</center></h1>

<%= link_to 'show all events', events_path %>
<%= link_to "New Event", new_event_path %>

<% @events.each do |event| %>
  <%= render 'single_event', event: event %>
<%end%>
